<div id="<%= dom_id digital_asset %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= digital_asset.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Url:</strong>
    <%= digital_asset.url %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Views:</strong>
    <%= digital_asset.views %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this asset", digital_asset, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this asset", edit_asset_path(digital_asset), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
