<%= form_with(model: @digital_asset, class: "contents") do |form| %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "text-gray-800 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :url %>
    <%= form.text_field :url, class: "text-gray-800 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :views %>
    <%= form.number_field :views, class: "text-gray-800 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :brand_owner_id %>
    <%= form.number_field :brand_owner_id, class: "text-gray-800 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :creator_id %>
    <%= form.number_field :creator_id, class: "text-gray-800 block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
